/* ******************************************************
name:        404.css
description: css rules for 404.html page.
--
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
****************************************************** */

/*
  fake-console: the container for the fake terminal.
  note fake-console js module manages the content and the css classes.
*/

/*
  blink: animation for the fake-console cursor.
*/
@keyframes blink {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.fake-console {
  margin: var(--colorspace-block-spacing-md);
  background: var(--colorspace-white-transparent-color);
  border-radius: 5px;
  min-height: 300px;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fake-console__line {
  color: var(--colorspace-white-color);
  line-height: normal;
}

.fake-console--no-margin {
  margin: 0;
}

.fake-console__cursor {
  display: inline-block;
  color: var(--colorspace-light-color);
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.fake-console--blink {
  animation: blink 1s infinite;
}

/* /fake-console */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
    fake-console: the container for the fake terminal.
    note fake-console js module manages the content and the css classes.
  */
  .fake-console {
    width: 800px;
    height: 600px;
    margin: auto;
  }

  /* /fake-console */
}
