@keyframes blink {
  0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: 1}
}

.fake-console {
  margin: var(--colorspace-block-spacing-md);
  background: var(--colorspace-white-transparent-color);
  border-radius: 5px;
  min-height: 300px;
}

.fake-console__line {
  padding: var(--colorspace-block-margin);
  color: var(--colorspace-white-color);
}

.fake-console--no-margin {
  margin: 0;
}

.fake-console__cursor {
  display: inline-block;
  color: var(--colorspace-light-color);
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.fake-console--blink {
  animation: blink 1s infinite;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .fake-console {
    width: 800px;
    height: 600px;
    margin: auto;
  }
}
