/* *******************************************************
name:        about-me.css
description: css rules for about-me section in index.html.
-- 
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
******************************************************* */

/*
  about-me: the container of the section.
  contain the title and the content. the content has an
  illustration and some text.
*/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--colorspace-white-transparent-color);
  color: var(--colorspace-light-color);
  padding: var(--colorspace-block-spacing-md);
}

.about-me__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me__illustration {
  max-width: 100%;
  margin-bottom: var(--colorspace-block-margin);
}
/* /about-me */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
    about-me: the container of the section.
    contain the title and the content. the content has an
    illustration and some text.
  */
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-me h2 {
    margin-top: auto;
  }
  
  .about-me__content {
    flex-direction: row;
    max-width: 1100px;
    margin: auto;
    margin-top: 0;
  }

  .about-me__illustration {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
    margin-right: var(--colorspace-desktop-menu-margin);
  }
  /* /about-me */
}
