/* ******************************************************
name:        contact.css
description: css rules for contact section in index.html.
--
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
****************************************************** */

/*
  useful inputs global rules for the contact form.
*/
option {
  background-color: var(--colorspace-light-color);
  color: var(--colorspace-indigo-color);
  width: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

::placeholder {
  color: var(--colorspace-light-color);
  opacity: 1;
}

/* /globals */

/*
  contact: global section rules.
  contact section contains a title and a form.
*/
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact h2 {
  margin-top: var(--colorspace-block-margin);
}

/* /contact */

/*
  form: rules for the form element and inputs.
*/

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--colorspace-block-spacing-md);
}

.form__input,
.form__textarea {
  display: block;
  margin-bottom: var(--colorspace-block-margin);
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: var(--colorspace-white-transparent-color);
  text-indent: var(--colorspace-block-margin);
  color: var(--colorspace-light-color);
}

.form__input {
  height: 2em;
}

.form__input:invalid,
.form__input:required,
.form__textarea:invalid,
.form__textarea:required {
  box-shadow: none;
}

/* /form */

/*
  select: a custom select input.
  this element is here to overcharge select input styles.
*/
.select {
  position: relative;
  width: 100%;
}

.select__container {
  position: relative;
  background-color: var(--colorspace-white-transparent-color);
  margin: 0 0 var(--colorspace-block-margin) 0;
  overflow: hidden;
  border-radius: 10px;
}

.select__container::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 0.75em;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-top-color: var(--colorspace-light-green-color);
  border-width: 6px;
  border-style: solid;
  pointer-events: none;
}

.select__container select {
  width: 105%;
  height: 2em;
  border: 0;
  margin: 0;
  margin-left: 5px;
  border-radius: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  background: none;
  color: #fff;
}

/* /select */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
    contact: global section rules.
    contact section contains a title and a form.
  */

  .contact h2 {
    margin-top: auto;
  }

  /* /contact */

  /*
    form: rules for the form element and inputs.
  */
  .form {
    padding: 0;
    margin: 0 auto;
    width: var(--colorspace-desktop-maxwidth);
  }

  /* /form */
}
