/* *******************************************************
name:        home.css
description: css rules for home section in index.html.
--
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
******************************************************* */

/*
  home: the container of the section.
  display name, job title and the scroll icon.
  it contains the rounded-box and the social icon blocks.
*/

/*
  bounce: animation for the scroll icon.
*/
@keyframes bounce {
  0% { transform: translateY(0); }
  20% { transform: translateY(-10px); }
  40% { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--colorspace-light-green-color);
  position: relative;
}

.home h1 {
  font-size: var(--colorspace-h1-title);
}

.home__job-title {
  font-size: var(--colorspace-job-title);
  margin-bottom: var(--colorspace-block-margin);
}

.home__scroll-icon {
  fill: var(--colorspace-light-color);
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  margin-bottom: var(--colorspace-block-margin);
}

.home__scroll-icon--bounce-animation {
  animation: bounce 3s ease infinite alternate;
}

/* /home */

/*
  rounded-box: display a rounded rounded-box and a color filter.
*/
.rounded-box {
  position: relative;
}

.rounded-box__image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid var(--colorspace-light-color);
}

.rounded-box__filter {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--colorspace-white-transparent-color);
}

/* /rounded-box */

/*
    fullstack: rounded elements to represent main techs.
    display main tech I used to develop web applications.
    one element by tech, with an icon and the name.
    Note this element is displayed only on the desktop.
*/
.fullstack {
  display: none;
}

/* /fullstack */

/*
  social-icons: social svg icons container.
*/
.social-icons {
  background-color: var(--colorspace-white-transparent-color);
  border-radius: 10px;
}

.social-icons a {
  color: var(--colorspace-light-color);
}

.social-icons svg {
  fill: var(--colorspace-light-color);
  width: var(--colorspace-social-icons);
  height: var(--colorspace-social-icons);
  margin: var(--colorspace-block-margin);
}

/* /social-icons */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /*
    rounded-box: display a rounded rounded-box and a color filter.
  */
  .rounded-box__image {
    width: 150px;
    height: 150px;
  }

  .rounded-box__filter {
    width: 150px;
    height: 150px;
  }

  /* /rounded-box */

  /*
    social-icons: social svg icons container.
  */
  .social-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--colorspace-block-spacing-md);
    border-radius: 10px;
  }

  /* /social-icons */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
    home: the container of the section.
    display name, job title and the scroll icon.
    it contains the rounded-box and the social icon blocks.
  */
  .home h1 {
    font-size: var(--colorspace-h1-title-desktop);
  }

  .home__job-title {
    font-size: var(--colorspace-job-title-desktop);
    margin-bottom: var(--colorspace-desktop-menu-margin);
  }

  /* /home */

  /*
    fullstack: rounded elements to represent main techs.
    display main tech I used to develop web applications.
    one element by tech, with an icon and the name.
    Note this element is displayed only on the desktop.
  */
  .fullstack {
    display: flex;
  }

  .fullstack__tech.rounded-box {
    margin: var(--colorspace-block-margin);
  }

  .fullstack__tech .rounded-box__image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    font-weight: var(--colorspace-xl-weight) !important;
  }

  .fullstack__tech.rounded-box,
  .fullstack__tech .rounded-box__filter,
  .fullstack__tech .rounded-box__image {
    width: 100px;
    height: 100px;
  }

  .fullstack__tech .rounded-box__image svg {
    width: 50px;
    height: 50px;
    fill: var(--colorspace-light-green-color);
    color: var(--colorspace-light-green-color);
  }

  /* /fullstack */

  /*
    social-icons: social svg icons container.
  */
  .social-icons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: var(--colorspace-block-spacing-md);
    border-radius: 10px;
  }

  .social-icons a:hover {
    color: var(--colorspace-indigo-color);
  }

  .social-icons svg:hover {
    cursor: pointer;
    fill: var(--colorspace-indigo-color);
  }

  /* /social-icons */
}
