/* *******************************************************
name:        legal-notice.css
description: css rules for legal-notice.html page.
--
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
******************************************************* */

/*
  legal-notice: rules for sub-elements of the container.
  rules for the global title, the sections and the section paragraph/text.
*/

.legal-notice__title {
  padding: var(--colorspace-block-spacing-md);
}

.legal-notice__section {
  padding: var(--colorspace-block-spacing-md);
  background-color: var(--colorspace-white-transparent-color);
  margin-bottom: var(--colorspace-block-spacing-md);
  min-height: auto;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .legal-notice__text {
    max-width: var(--colorspace-desktop-maxwidth);
    margin: auto;
  }
}

/* /legal-notice */
