.legal-notice .header {
  cursor: pointer;
}

.legal-notice h2 {
  padding: var(--colorspace-block-spacing-md);
}

.legal-notice section {
  padding: var(--colorspace-block-spacing-md);
  background-color: var(--colorspace-white-transparent-color);
  margin-bottom: var(--colorspace-block-spacing-md);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .legal-notice section {
    height: auto;
  }

  .legal-notice-text--desktop {
    max-width: var(--colorspace-desktop-maxwidth);
    margin: auto;
  }
}
