/* Variables */

:root {
  /* GLOBAL AND REUSABLE VARIABLES */

  /* for now white color is useless */
  --colorspace-white-color: #fff;
  --colorspace-light-color: #F3F9FF;
  --colorspace-blue-color: #1976D2;
  --colorspace-purple-color: #8169bb;
  --colorspace-green-color: #009688;
  --colorspace-green-yellow: #FFC107;
  --colorspace-gradient-color: linear-gradient(to right, #1976d2, #4773ce, #606fc8, #726cc2, #8169bb);
  --colorspace-white-transparent-color: rgba(243,249,255, 0.3);

  --colorspace-md-weight: 500;

  --colorspace-block-margin: 0.5rem;

  --colorspace-block-spacing-md: 1.25rem;

  --colorspace-background-blur: blur(2px);

  /* HOME SECTION VARIABLES */
  --colorspace-h1-title: 2.5rem;
  --colorspace-job-title: 1.3rem;

  --colorspace-social-icons: 32px;

  /* MENU VARIABLES */
  --colorspace-mobile-menu-font-size: 35px;
}

.browserupgrade {
  margin: 0.2em 0;
  background: var(--colorspace-light-color);
  padding: 0.2em 0;
}

body {
  background: var(--colorspace-gradient-color);
}

h2 {
  color: var(--colorspace-light-color);
  text-align: center;
}

.website-content {
  min-width: 100vw;
  min-height: 100vh;
}

.website-content::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.2;
  filter: var(--colorspace-background-blur);
}

@import './bootstrap-reboot.css';
@import './home.css';
@import './menu.css';
@import './about-me.css';
@import './my-work.css';
