/* ******************************************************************
name:        main.css
description: css main entry and global rules.
             define some mutual rules between all components
             and pages.
             it defines main css variables.
             finaly, it imports all css files (and bootstrap-reboot).
-- 
this project uses the BEM method, see http://getbem.com/.
all rules are documented by Block.
****************************************************************** */

/* Variables */

:root {
  /* GLOBAL AND REUSABLE VARIABLES */

  /* COLORS */

  /* for now white color is useless */
  --colorspace-white-color: #fff;
  --colorspace-black-color: #212529;
  --colorspace-light-color: #F3F9FF;
  --colorspace-blue-color: #1976D2;
  --colorspace-purple-color: #8169bb;
  --colorspace-green-color: #009688;
  --colorspace-green-yellow: #FFC107;
  --colorspace-gradient-color: linear-gradient(to right, #1976d2, #4773ce, #606fc8, #726cc2, #8169bb);
  --colorspace-white-transparent-color: rgba(243,249,255, 0.3);
  --colorspace-white-transparent-md-color: rgba(243,249,255, 0.6);

  /* FONT VARIABLES */
  --colorspace-md-weight: 500;
  --colorspace-xl-weight: 800;

  /* SPACING VARIABLE */
  --colorspace-block-margin: 0.5rem;

  --colorspace-block-spacing-md: 1.25rem;

  --colorspace-desktop-menu-margin: 3.75rem;
  
  /* CSS EFFECT VARIABLES */
  --colorspace-background-blur: blur(2px);

  /* HOME SECTION VARIABLES */
  --colorspace-h1-title: 2.5rem;
  --colorspace-h1-title-desktop: 4rem;
  --colorspace-job-title: 1.3rem;
  --colorspace-job-title-desktop: 1.8rem;
  
  /* ICONS VARIABLES */
  --colorspace-social-icons: 32px;

  /* MENU VARIABLES */
  --colorspace-mobile-menu-font-size: 35px;

  /* DESKTOP MODE BOX MAX WIDTH (ABOUTME, CONTACT FORM...) */
  --colorspace-desktop-maxwidth: 800px;
}

/*
  global html elements and title rules.
*/
body {
  background: var(--colorspace-gradient-color);
}

.body--no-scroll {
  overflow: hidden;
}

h2 {
  color: var(--colorspace-light-color);
  text-align: center;
}

h3 {
  color: var(--colorspace-blue-color);
}

h4 {
  color: var(--colorspace-purple-color);
}
/* /globals */

/*
  browseruprade: headband to inform the user his browser is deprecated.
*/
.browserupgrade {
  position: absolute;
  width: 100%;
  background: var(--colorspace-light-color);
  padding: var(--colorspace-block-spacing-md);
  text-align: center;
  z-index: 1003;
}

.browserupgrade a {
  color: var(--colorspace-blue-color);
  margin-left: 5px;
  margin-right: 5px;
}

.browserupgrade--strong {
  display: inline;
  font-weight: var(--colorspace-xl-weight);
  margin-left: 5px;
  margin-right: 5px;
}
/* /browseruprade */

/*
  header: header block for 404 and about-me pages.
*/
.header {
  display: flex;
  color: var(--colorspace-light-color);
  background-color: var(--colorspace-white-transparent-color);
  padding: var(--colorspace-block-spacing-md);
  cursor: pointer;
}

.header h4 {
  margin: 0;
}
/* /header */

/*
  website-content: website main container.
*/
.website-content {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
}

.website-content::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  opacity: 0.2;
  filter: var(--colorspace-background-blur);
}
/* /website-content */

/*
  footer: website footer block.
*/
.footer {
  color: var(--colorspace-light-color);
  background-color: var(--colorspace-white-transparent-color);
  padding: var(--colorspace-block-spacing-md);
  margin-top: auto;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer div > svg {
  width: 25px;
  height: 25px;
  margin: var(--colorspace-block-margin);
  fill: var(--colorspace-purple-color);
}

.footer a {
  display: none;
}
/* /footer */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*
    global html elements and title rules.
  */
  h2 {
    margin-bottom: var(--colorspace-block-spacing-md);
  }
  /* /globals */

  /* specific modifier for desktop fullscreen panel. */
  .section--desktop-panel {
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .website-content--panel-transition {
    transition: 1s cubic-bezier(0.5, 0, 0.5, 1);
  }
  /* /panels */

  /*
    footer: website footer block.
  */
  .footer a {
    display: block;
    text-align: center;
    font-size: 0.7rem;
    color: var(--colorspace-blue-color);
  }
  /* /footer */
}

@import './bootstrap-reboot.css';
@import './home.css';
@import './menu.css';
@import './about-me.css';
@import './my-work.css';
@import './contact.css';
@import './404.css';
@import './legal-notice.css';
