.my-work {
  padding: var(--colorspace-block-spacing-md);
  z-index: 0;
}

.projects {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.projects .project-card {
  margin-right: var(--colorspace-block-margin);
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px;
  scroll-snap-align: start;
}

.projects .project-card:last-of-type {
  scroll-snap-align: end;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colorspace-light-color);
  min-height: 300px;
  border-radius: 10px;
  padding: var(--colorspace-block-spacing-md);
  margin-bottom: var(--colorspace-block-spacing-md);
}

.project-card > svg {
  width: 50%;
  height: inherit;
  margin-bottom: var(--colorspace-block-margin);
}

.project-card__description {
  max-height: 200px;
  overflow-y: auto;
}

.project-card__badges {
  align-self: flex-start;
}

.badge {
  display: inline-block;
  background-color: var(--colorspace-purple-color);
  border-radius: 32px;
  padding: 0 var(--colorspace-block-margin);
  font-size: 14px;
  font-weight: var(--colorspace-md-weight);
  color: var(--colorspace-light-color);
}

.badge--green {
  background-color: var(--colorspace-green-color);
}

.badge--yellow {
  background-color: var(--colorspace-green-yellow);
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .my-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .projects {
    margin-right: var(--colorspace-desktop-menu-margin);
  }

  .projects .project-card {
    flex-basis: 400px;
  }
}
