TF_VAR_authkey=auth.json
TF_VAR_domain=example.com
TF_VAR_gcp_project_id=gcp-project-id
TF_VAR_dist_path=/dist/
TF_VAR_dist_functions_path=/functions

TF_VAR_authorized_origins=https://example.com,https://www.example.com

TF_VAR_github_token=token

TF_VAR_dev_api_key=token

TF_VAR_smtp_host=mailhog
TF_VAR_smtp_port=1025
TF_VAR_smtp_username=username
TF_VAR_smtp_password=password
TF_VAR_mail_sender=no-reply@antoineamara.dev

GOOGLE_CREDENTIALS=auth.json
