<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ColorSpace Developper Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
  </head>

  <body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <nav>
      <div class="mobile-menu">
        <div class="mobile-menu__bars">
          <span class="mobile-menu__bar mobile-menu__bar--open-transition"></span>
          <span class="mobile-menu__bar mobile-menu__bar--open-transition"></span>
          <span class="mobile-menu__bar mobile-menu__bar--open-transition"></span>
        </div>
      </div>
    </nav>

    <div class="mobile-menu__overlay">
      <div class="mobile-menu__content">
        <li class="mobile-menu__element mobile-menu__element--active">Home</li>
        <li class="mobile-menu__element mobile-menu__element--blur">About Me</li>
        <li class="mobile-menu__element mobile-menu__element--blur">My Work</li>
        <li class="mobile-menu__element mobile-menu__element--blur">Contact</li>
      </div>
    </div>

    <div class="website-content">
      <section class="home">
        <div class="portrait">
          <img class="portrait__image" src="<%= require('./img/avatar.png') %>" />
          <div class="portrait__filter"></div>
        </div>
        <h1>John Doe</h1>
        <div class="home__job-title">Javascript fullstack developper</div>
        <div class="social-icons">
          <img inline src="src/img/github-alt.svg">
          <img inline src="src/img/stack-overflow.svg">
          <img inline src="src/img/facebook-f.svg">
        </div>
        <div class="home__scroll-icon home__scroll-icon--bounce-animation">
          <img inline src="src/img/chevron-circle-down.svg">
        </div>
      </section>
      <section class="about-me">
        <h2>About Me</h2>
        <div class="about-me__content">
          <img class="about-me__illustration" src="<%= require('./img/about-me-placeholder.png') %>">
          <p class="about-me__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut beatae officia rem exercitationem eveniet nesciunt doloremque, delectus itaque velit, consequatur praesentium, iure maxime ipsum ipsam sed possimus earum dignissimos minima.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, libero? Porro error sit dolorum explicabo? Excepturi aspernatur quidem, neque, commodi, aut quia provident minus officia incidunt sit qui ad modi.
          </p>
        </div>
      </section>
      <section class="my-work">
        <h2>My Work</h2>
        <div class="project-card">
          <img inline src="src/img/node-logo.svg">
          <p class="project-card__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores soluta cum placeat molestiae quod culpa, delectus impedit magni qui beatae. Deleniti illum odit velit, corporis enim architecto nisi quidem!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore praesentium, omnis illo placeat saepe, a veritatis, sunt qui nam repellendus totam perspiciatis ducimus ipsum doloribus obcaecati recusandae fugiat dicta?
          </p>
          <div class="project-card__badges">
            <div class="badge badge--green">open source</div>
            <div class="badge badge--yellow">javascript</div>
          </div>
        </div>
        <div class="project-card">
            <img inline src="src/img/node-logo.svg">
            <p class="project-card__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores soluta cum placeat molestiae quod culpa, delectus impedit magni qui beatae. Deleniti illum odit velit, corporis enim architecto nisi quidem!
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore praesentium, omnis illo placeat saepe, a veritatis, sunt qui nam repellendus totam perspiciatis ducimus ipsum doloribus obcaecati recusandae fugiat dicta?
            </p>
            <div class="project-card__badges">
              <div class="badge badge--green">open source</div>
              <div class="badge badge--yellow">javascript</div>
            </div>
          </div>
          <div class="project-card">
              <img inline src="src/img/node-logo.svg">
              <p class="project-card__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis dolores soluta cum placeat molestiae quod culpa, delectus impedit magni qui beatae. Deleniti illum odit velit, corporis enim architecto nisi quidem!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil inventore praesentium, omnis illo placeat saepe, a veritatis, sunt qui nam repellendus totam perspiciatis ducimus ipsum doloribus obcaecati recusandae fugiat dicta?
              </p>
              <div class="project-card__badges">
                <div class="badge badge--green">open source</div>
                <div class="badge badge--yellow">javascript</div>
              </div>
            </div>
      </section>
      <section class="contact">
        <h2>Contact Me</h2>
        <form class="form">
          <input class="form__input" type="text" placeholder="Name" />
          <input class="form__input" type="email" placeholder="Email" />
          <div class="select">
            <div class="select--container">
              <select>
                <option class="select--option" value="question">Ask me a question</option>
                <option value="job">Job proposal</option>
                <option value="open-source">Question about my open source contribution</option>
              </select>
            </div>
          </div>
          <textarea class="form__textarea" placeholder="Enter your message" cols="30" rows="8"></textarea>
          <button class="button"><span class="button__content">Send</span></button>
        </form>
      </section>

      <footer class="footer">This template is <img inline src="src/img/code.svg"> with <img inline src="src/img/heart.svg"> by <img inline src="src/img/github.svg"></footer>
    </div>

  </body>
</html>
    